*,
*:before,
*:after {
	box-sizing: border-box;
}
body {
    padding: 3.2rem 0 0 0;
    margin: 0 0 0 0; 
}
 
ul {
    list-style: none;
    padding-inline-start: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

h4 {
    margin: 0;
    display: none;
}

section {
    display: flex;
    width: 100vw;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 4px 0 0 0;
}

input, button, select, text, option, textarea {
    width: 97%;
    font-size: 1em;
    background-color: rgb(0, 221, 255, 0.94);
    text-align: center;
    text-align-last: center;
    padding: 0.2rem;
}
button{
    margin: 1% 0 2% 0;
}
table {
    border: 1px;
    border-collapse: collapse;
    width: 97vw;
    font-size: 0.9em;
    position: relative;
    left: 0.5vw;
    padding: 0;
    margin: 0;
}

a {
    color: rgba(0, 0, 0, 1);
    display: inline-flex;  
}

td{

    text-align: center;

}
th{

    text-align: center;

}
p{

    text-align: center;
    font-size: 1.2rem;
    width: 100%;

}
caption{

    font-size: 1.2em;
    font-weight: 600;
    text-align: left;
    margin: 5% 0 2% 2%;
}

div {
    width: 100vw;
    /*display: flex; 
    justify-content: center; 
    flex-direction: column;
    align-items: center; */
    border: 1px solid black;
    background-color: rgba(0, 221, 255, 0.94);
    text-align: center;
    font-size: 1.2rem;
    margin: 4px 0 0 0;
    padding: 0 0 0.5% 0;
}

div#results {
    padding: 5% 0 0 0;
}    

td.pr {
    text-align: left;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 4,5rem;
    width: 100vw;
    display: flex;
    align-items: center;
    background: rgba(0, 221, 255, 0.984);
    justify-content: space-between;
    border-bottom: 1px solid #000;
    z-index: 100;
}

.nav:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100px;
    width: 100vw;
    z-index: -1;
}

.nav-list {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}  
  
.nav-list-item {
    letter-spacing: 1px;
    /* width: 16vw; */
    font-weight: 700;
    margin-right: 32px;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
}  
  
.nav-list-item-line {
    background: black;
    width: 0;
    height: 1px;
    transition: width 0.3s ease;
}
  
.nav-list-item:hover > .nav-list-item-line {
    width: 100%;
}

.calc {
    cursor: pointer;
    border-radius: 0.5rem;
    transition: transform 0.3s ease;
}
  
.calc:hover {
    transform: scale(1.01);
}
  

.resultsDate {
    display: none;
}

.contact-form {
    margin: 0;
    padding: 8vh 24vw 0 20vw;
    /* border: none; */
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 60vw;
    /* padding-bottom: 10rem; */
}

.contact-form > form {
    /* border: none; */
    display: flex;
    flex-direction: column;
    max-width: 80rem;
    width: 100%;
}

.contact-form-row {
    padding: 0;
    margin: 0;
    border: none;
    width: 100%;
    display: flex;
}

.contact-form-row-field {
    border: none;
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-form-row-field:nth-child(2) {
    margin-left: 2rem ;
}

.contact-form-row-field > input,
.contact-form-row-field > textarea {
    /* margin-top: 0.5rem; */
    /* border: 1px solid #000; */
    /* padding: 1rem 2rem; */
    width: 100%;
    /* font-size: 1.6rem; */
}

.contact-form-row-field > input,label {
    /* height: 2rem; */
    text-align: left;
    text-align-last: left;   
}

.contact-form-row-field > input:hover,
.contact-form-row-field > textarea:hover {
    border-width: 2px;
    /* text-align: left; */
}

.contact-form-row-field > textarea {
    resize: none;
    text-align: left;
    text-align-last: left;
    border-radius: 0;
    height: 8rem;
}

.contact-form-submit {
    width: 28%;
    height: 1.6rem;
    cursor: pointer;
    background: none;
    align-self: flex-end;
    /* margin-top: 3rem; */
    /* font-size: 1.6rem; */
    /* padding: 1rem 2.5rem; */
    border-radius: 0.5rem;
    transition: transform 0.3s ease;
    margin: 2px 0 0.5rem 0;
}

.contact-form-submit:hover {
    transform: scale(1.01);
}


.contact-links {
    background-color: rgba(0, 221, 255, 0.94);
    width: 100vw;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top: 1px solid #000;
    padding: 1.2rem 0 4vh 0;
    font-size: 1.6rem;
}
  
.contact-links > a {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.3rem;
}
  
.contact-links > ul {
    width: 100%;
    /* margin-top: 20px; */
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.contact-links > ul > li {
    margin: 0 2rem;
    font-size: 1.6rem;
}
  
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 2rem;
    background: rgba(0, 221, 255, 0.984);
    border: 1px solid black;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    z-index: 100;
}


  
.footer > p > a,
.footer > p > span {
    font-weight: 900;
}

/* @media (max-width: 1023px){
    .left {
            width: 50%;
            order: 0;
    }
    .main {
            flex-wrap: wrap;
        }
    .right {
        width: 50%;
        }
    .content{		
        width: 100%	
    }
} */
